{% load static %}
<!-- Mobile sidebar overlay -->
<div class="relative z-50 lg:hidden" x-show="sidebarOpen" style="display: none;" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
    <div class="fixed inset-0 bg-gray-900/80" @click="sidebarOpen = false"></div>
    <div class="fixed inset-0 flex">
        <div class="relative mr-8 sm:mr-16 flex w-full max-w-xs sm:max-w-sm flex-1" x-transition:enter="transition ease-in-out duration-300 transform" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full">
            <div class="absolute left-full top-0 flex w-8 sm:w-16 justify-center pt-5">
                <button type="button" class="-m-2.5 p-2.5 touch-target" @click="sidebarOpen = false">
                    <span class="sr-only">Cerrar sidebar</span>
                    <i class="fas fa-times h-5 w-5 sm:h-6 sm:w-6 text-white"></i>
                </button>
            </div>
            <div class="flex grow flex-col gap-y-3 sm:gap-y-5 overflow-y-auto px-4 sm:px-6 pb-4 bg-white">
                <div class="flex h-14 sm:h-16 shrink-0 items-center border-b border-[#E5E7EB]">
                    <img src="{% static 'custom/img/NODO.png' %}" alt="NODO" class="h-10 w-auto">
                </div>
                <nav class="flex flex-1 flex-col">
                    {% include 'includes/sidebar/opciones.html' %}
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Desktop sidebar -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:flex-col transition-all duration-300" :class="sidebarCollapsed ? 'lg:w-20' : 'lg:w-72'">
    <div class="flex grow flex-col bg-white shadow-xl h-full border-r border-[#E5E7EB]">
        <!-- Header -->
        <div class="py-2 px-3 border-b border-[#E5E7EB] flex justify-center">
            <template x-if="!sidebarCollapsed">
                <img src="{% static 'custom/img/NODO.png' %}" alt="NODO" class="h-16 w-auto">
            </template>
            
            <template x-if="sidebarCollapsed">
                <img src="{% static 'custom/img/NODO.png' %}" alt="NODO" class="h-12 w-auto">
            </template>
        </div>
        
        <!-- Navigation -->
        <div class="flex-1 p-4 overflow-y-auto">
            {% include 'includes/sidebar/opciones.html' %}
        </div>
        
        <!-- Toggle Button -->
        <div class="p-4 border-t border-[#E5E7EB]">
            <button @click="sidebarCollapsed = !sidebarCollapsed" class="w-full px-4 py-3 bg-[#F9FAFB] hover:bg-[#E5E7EB] rounded-xl transition-colors flex items-center justify-center gap-2 text-[#4A5565] font-medium">
                <template x-if="sidebarCollapsed">
                    <i class="fas fa-chevron-right text-sm"></i>
                </template>
                <template x-if="!sidebarCollapsed">
                    <div class="flex items-center gap-2">
                        <i class="fas fa-chevron-left text-sm"></i>
                        <span class="text-sm">Colapsar</span>
                    </div>
                </template>
            </button>
        </div>
    </div>
</div>
